/*******************TAG SELECTORS*******************/
body {
  background-color: #fff;
  font-family: tahoma, sans-serif;
  margin: 0;
  text-align: center;
}

li {
  display: inline;
}

/*******************CLASS SELECTORS*******************/
@media (min-width: 990px) {
  .navbar-collapse {
    margin-right: 13%;
  }
}

/*Header*/
.color-navbar {
  background-color: #00303f;
}

@media (min-width: 991px) {
  .container-fluid {
    padding: 3% 15%;
    color: #e7e7de;
    background-color: #e7e7de;
  }
}

@media (max-width: 990px) {
  .container-fluid {
    padding: 2%;
    color: #e7e7de;
    background-color: #e7e7de;
  }
}

.home-image {
  max-width: 100%;
  display: inline-block;
  height: 50%;
  background-size: cover;
  margin: 2% auto 2% auto;
}

@media (min-width: 992px) and (max-width: 1279px) {
  .home-image {
    margin-top: 12%;
    margin-left: 5%
  }
}

.h1-header {
  font-size: 2.9rem;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #00303f;
}

.h2-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #00303f;
}

.logo {
  color: #e7e7de;
  font-size: 2.5rem;
  max-width: 100%;
  max-height: 100%;
}

.logo-container {
  float: left;
  height: 20%;
  width: 20%;
  margin-left: 7%;
  color: #fff;
}

.container-navigation-test {
  height: 20%;
  width: 20%;
  margin-left: 50%;
}

.navigation-container-top {
  text-align: right;
  margin: 0 auto 0 auto;
  width: 75%;
  height: 15%;
}

.navigation-link-top {
  color: #e7e7de;
  text-align: left;
  text-decoration: none;
  margin: 10px 20px;
}

.navigation-link-top:hover {
  color: #e7e7de;
}

.page-header {
  padding-top: 5%;
  width: 100%;
  height: 100%;
  margin: 0;
  /*background-image: url('../images/binigaus2.jpg');*/
  background-size: cover;
}

/*Middle-Container*/
.apartment-image {
  width: 25%;
  height: 25%;
  margin: 2%;
  float: left;
}

.apartment-preview {
  display: inline-block;
}

.h2-header-2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #00303f;
}

.fa-piggy-bank:hover {
  color: #00303f;
  font-size: 5rem;
}

.fa-umbrella-beach:hover {
  color: #00303f;
  font-size: 5rem;
}

.fa-house-user:hover {
  color: #00303f;
  font-size: 5rem;
}

.hr-middle-container {
  border-color: #cdac81;
  border-style: solid none none;
  border-width: 2px;
  width: 15%;
}

.h2-middle-container {
  font-weight: 800;
  display: inline-block;
  margin-right: 2%
}

.evaluation-stars {
  display: inline-block;
  margin-left: 2%
}

.middle-container {
  background-color: #e7e7de;
  margin: 1% 0 1% 0;
}

.navigation-link-apartment {
  color: #00303f;
  text-decoration: none;
  margin: 0
}

.navigation-link-apartment:hover {
  color: #e7e7de;
}

.text-middle-container {
  /* font-family: 'Comfortaa', cursive; */
  color: #00303f;
  margin: 0 auto 0 auto;
  padding: 2%;
  background-color: #cae4db;
}

/*Bottom-Container*/
.bottom-container {
  background-color: #00303f;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.footer-link {
  color: #e7e7de;
  text-decoration: none;
  margin: 10px 20px;
}

.footer-link:hover {
  color: #cdac81;
}

.gox_mel_ltd {
  color: #e7e7de;
  font-size: 0.75rem;
  padding-top: 20px;
}

.navigation-container-bottom {
  text-align: right;
  margin: 0 auto 0 auto;
  width: 75%;
  height: 15%;
}

.navigation-link-bottom {
  color: #e7e7de;
  text-decoration: none;
  margin: 10px 20px;
}

.navigation-link-bottom:hover {
  color: #cdac81;
}

/*******************ID SELECTORS*******************/
